.footer {
    background-color: var(--inverse-theme-color);
    color: var(--inverse-text-color);
    padding: 2rem 0;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-nav__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .footer-nav__link-item {
    list-style: none;
  }
  
  .footer-nav__link {
    display: flex;
    width: 1.5rem;
    transition: 0.25s all;
  }
  
  .footer-nav__link:hover {
    filter: brightness(150%);
    transform: scale(1.5);
  }
  
  .footer-nav__link-image {
    width: 100%;
  }
  
  .footer-nav__credits {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.5rem;
    box-shadow: 0 -0.25rem 0.25rem -0.25rem var(--theme-color);
  }
  
  .footer-nav__credits-author {
    color: var(--highlight-color-1);
    text-decoration: none;
  }

  @media (min-width: 854px) {
    .footer-nav {
        max-width: 1024px;
        margin: auto;
        padding: 0;
      }
      .footer-nav__link-list {
        gap: 1.5rem;
      }
    
      .footer-nav__link {
        width: 2rem;
      }
    }